<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.RunningTodayMapper">

   <resultMap type="com.example.demo.domain.RunningToday" id="boardResultMap">
      <id column = "id" property = "id"/>
      <result column = "title" property = "title"/>
      <result column = "body" property = "body"/>
      <result column = "ainserted" property = "inserted"/>
      <result column = "writer" property = "writer"/>
      <collection property="fileName" ofType="String">
         <result column = "fileName"/>
      </collection>
      <!-- <result column = "filename" property = "filename"/> -->
   </resultMap>

</mapper>