<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ClimbingMateMapper">

	<resultMap type="com.example.demo.domain.ClimbingMate" id="climbingMateResultMap">
		<id column="id" property="id" />
		<result column="title" property="title" />
		<result column="body" property="body" />
		<result column="inserted" property="inserted" />
		<result column="writer" property="writer" />
		<result column="people" property="people" />
		<result column="Lat" property="Lat" />
		<result column="Lng" property="Lng" />
		<result column="time" property="time" />
		<result column="address" property="address" />
		<!-- <collection property="fileName" ofType="string"> -->
		<!-- <result column="fileName"></result> -->
		<!-- </collection> -->
	</resultMap>

	<resultMap type="com.example.demo.domain.ClimbingParty" id="climbingMateResultMap2">
		<result column="boardId" property="boardId" />
		<result column="userId" property="userId" />
		<result column="memberId" property="memberId" />
		<!-- <result column = "filename" property = "filename"/> -->
	</resultMap>

</mapper>